@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #7535FF;
  --secondary: #FC0056;
  --accent: #ACE912;
  --text-gray: #505050;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-plus-jakarta-sans);
  
  /* base color */
  --color--primary: var(--primary);
  --color--secondary: var(--secondary);
  --color--accent: var(--accent);
  --color--text-gray: var(--text-gray);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
